/* JUMBOTRON STYLE HERE */
.jumbotron{
    background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url(../Jumbotron/seattle.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  height:100vh;
  }
  
  /* BUTTON STYLE HERE */
  .btn{
      margin-right:10px;
  }
  .btn-outline-primary{
    border-color: white;
    color:white;
    background-color:transparent;
    margin-top:30px;
    font-weight:100;
  }
  .btn-outline-primary:hover{
    border-color: transparent;
    color:black;
    background-color:white;
  }
  .btn-outline-primary:active{
    border-color: transparent;
    color:black;
    background-color:white;
    padding:9px 20px 9px 20px;
  }
  
  /* BUTTON HEADER RIGHT */
  .rightHeader{
    position: absolute;
    top: -15px;
    right: 8px;
  }
  /* BUTTON HEADER LEFT */
  .leftHeader{
    position: absolute;
    top: -15px;
    left: 20px;
  }
  
  .title{
    margin-top:10vh;
  }
  .text_margin{
      width:70vw;
      margin: 0 auto;
  }
  .string-1{
    padding-top:30px;
    width:600px;
    margin:0 auto;
    font-weight:100;
    margin-top:-35px;
  }
  
  
  .content{
    margin:10%;
  }
  br{
    margin:20px;
  }